# Normalize line endings to LF in the repo, convert to OS native on checkout
* text=auto eol=lf

# Force binary files to never be touched
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.svg  binary
*.woff binary
*.woff2 binary
