---
import Base from './Base.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Base title={title} description={description}>
  <div class="container py-16">
    <div class="container-narrow mx-auto">
      <slot />
    </div>
  </div>
</Base>
